*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.users-main-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url('./Images/coffeehouse.jpg');
}
.users-container{
    color: #fff;
    margin-top: 16px;
}
.users-container li{
    list-style-type: none;
    font-size: 20px;
    font-family: sans-serif;
    padding: 17px 50px;
    border: 2px solid #333;
    background: #484747c9;
}